.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34 !important; /* Important to override any existing styles */
  min-height: 100vh!important;
  display: flex!important;
  align-items: center !important; /* Center vertically */
  justify-content: center !important; /* Center horizontally */
  font-size: calc(10px + 2vmin)!important;
  color: white!important;
  text-align: center!important; /* Align text in the center */
}



body {
  margin: 0;
  padding: 0;
  height: 100vh; /* Ensure the background covers the entire viewport height */
  background: linear-gradient(to bottom, #e0e0e0, #a9a9a9); /* Adjust the colors as needed */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif; /* Use a commonly available font */
  font-size: 16px; /* Set a base font size */
  color: #333; /* Set text color */
}

/* Additional styles for specific elements can be added below */

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
